@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}
.header_item a.active{
    background-color: #1A1A1A;
    color: aliceblue;
    padding: 12px 10px;
}
 